.Slider {
    background-color: #b37709;
    height: 30px;
}

.Bar {
    background-color: white;
    height: 3px;
    width: 30px;
    margin-left: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.left {
    flex: 0;
    border: none;
    left: 0;
    position: absolute;
    cursor: pointer;
  }

  .center {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .burger-button {
    border: none;
    cursor: pointer;
    background-color: #b37709;
  }

  .burger-button-modal {
    background-color: #323640;
    border: none;
    cursor: pointer;
    margin-left: 140px;
  }

  .sliding-menu {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: #323640;
    transition: left 0.3s linear;
  }
  
  .sliding-menu.open {
    left: 0; 
  }

  .Menu-buttons {
    font-size: 25px;
    color: #b37709;
    background-color: white;
    cursor: pointer;
    margin-right: 200px;
  }
  
  .button1 {
    margin-bottom: 100px;
    
  }
  
  .button2 {
    margin-top: 50px;
  }