.Pre-Start {
    text-align: center;
}

.Start {
    background-color: #282c34;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
}

.bottom {
    background-color: #282c34;
    min-height: 17vh;
}

.dropdown {
    background-color: #53266e;
    color: white;
    padding: 6px;
    font-size: 16px;
    width: 180px;
    text-align: center;
}

.desc {
    font-weight: bold;
    flex: 0;
    margin-bottom: 25%;
}

.textbox {
    background-color: #53266e;
    color: white;
    font-size: 16px;

}

.green {
    color: rgb(156, 240, 156);
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
}

.red {
    color: rgb(255, 0, 0);
    position: absolute;
    margin-left: 10px;
    margin-top: 7px;
}

.next {
    background-color: #b37709;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 30px;
    margin: 10px;
}